// colors
$purple: #4716F1;
$orange: #FF483A;
$white: #EEF0F3;

// font families
$primary-font: Livvic;

// font sizes
$font-sizes: (
    1: 0.75rem,
    2: 1rem,
    3: 1.5rem,
    4: 3rem
);

// spacing
$spacing: (
    1: 0.5rem,
    2: 1rem,
    3: 1.5rem,
    4: 2.5rem,
);
