@font-face {
    font-family: "Livvic";
    font-weight: 800;
    src: url("../../fonts/Livvic-Black.woff2");
}

@font-face {
    font-family: "Livvic";
    font-weight: 400;
    src: url("../../fonts/Livvic-Regular.woff2");
}