@use './fonts';
@use './variables';
@use './reset';
@use './normalize';

* {
    font-family: variables.$primary-font;
    font-weight: 400;
    line-height: 1.75rem;
}

html {
    font-size: 16px;
}
